html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    overflow: hidden;

}

.image-box {

    /* Here's the trick */
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);

    /* Basic background styles */
    background: var(../img/header.jpg) center center no-repeat;
    background-size: cover;

}

.mapdiv {
    position: fixed;
    top: 15vh;
    left: 5vw;
    bottom: 4vh;
    width: 90%;
}


#map {
    height: 100%;
    width: 100%;
    opacity: 0.0;
}

/* #map {
    position: fixed;
    top: 15vh;
    left: 5vw;
    bottom: 4vh;
    width: 90%;
    opacity: 0.0;
} */

.leaflet-tile {
    filter: sepia(40%);
}

svg {
    position: relative;
}

.waypoints {
    fill: black;
    opacity: 0;
}
}

.drinks {
    stroke: black;
    fill: red;
}

.parachute {
    cursor: pointer;
}

.lineConnect {
    fill: none;
    stroke: black;
    opacity: 1;
}

.locnames {
    fill: black;
    text-shadow: 1px 1px 1px #FFF, 3px 3px 5px #000;
    font-weight: bold;
    font-size: 13px;
    font-family: "Josefin Sans";
}

.opacity {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.opacityIn {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.legend {
    line-height: 18px;
    color: #555;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;
}

.white {
    color: white;
    font-weight: bold;
}

.legend {
    padding: 6px 8px;
    font-size: 1.3em;
    font-family: "Josefin Sans";
    background-image: url(../img/document.PNG);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: rgba(242, 223, 183); */
    color: rgba(78, 71, 61, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /* border-radius: 5px; */
    width: 350px;
}

.legend h3 {
    font-size: 1.1em;
    font-weight: bold;
    font-family: "Josefin Sans";
    line-height: 1em;
    color: rgba(78, 71, 61, 1);
    margin: 0;
    text-align: center;
}

.legend h3 span {
    font-size: 1.3em;
    font-family: "Josefin Sans";
    margin: 0 20px 0 0;
}

.legend span {
    width: 30px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

.legend ul {
    list-style-type: none;
    padding: 0;
    margin: 12px 4px 0;
}

.legend li {
    height: 22px;
}

#ui-controls {
    width: 250px;
    padding: 8px 25px 8px 15px;
    background-image: url(../img/document.PNG);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: rgba(242, 223, 183); */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /* border-radius: 5px; */
    color: rgba(78, 71, 61, 1);
}

#ui-controls .min {
    float: left;
}

#ui-controls .max {
    float: right;
    margin-right: -15px;
}

#ui-controls .time {
    margin-right: -30px;
    margin-left: 24px;
    font-size: 1.1em;
    font-weight: bold;
    font-family: "Josefin Sans";
}

#ui-controls2 {
    width: 250px;
    padding: 8px 25px 8px 15px;
    background-image: url(../img/document.PNG);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: rgba(242, 223, 183); */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /* border-radius: 5px; */
    color: rgba(78, 71, 61, 1);
}

#ui-controls2 .min2 {
    float: left;
}

#ui-controls2 .max2 {
    float: right;
    margin-right: -15px;
}

#ui-controls2 .time2 {
    margin-right: -30px;
    margin-left: 63px;
    font-size: 1.1em;
    font-weight: bold;
    font-family: "Josefin Sans";
}

.year-slider {
    width: 100%;
    color: rgba(78, 71, 61, 1);
}

.year-slider2 {
    width: 100%;
    color: rgba(78, 71, 61, 1);
}

label {
    font-size: 1.1em;
    font-weight: bold;
    font-family: "Josefin Sans";
}

.leaflet-control-layers-expanded {
    padding: 6px 8px;
    font-size: 1em;
    font-family: "Josefin Sans";
    background-image: url(../img/document.PNG);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: rgba(242, 223, 183); */
    color: rgba(78, 71, 61, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}

.btn {
    padding: 8px 25px 8px 25px;
    background-image: url(../img/document.PNG);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: rgba(242, 223, 183); */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-color: rgba(242, 223, 183);
    /* border-radius: 5px; */
    color: rgba(78, 71, 61, 1);
    font-weight: bold;
    font-family: "Josefin Sans";

}

.leaflet-popup-content {
    font-family: "Josefin Sans";

}

.leaflet-popup-content-wrapper,
.leaflet-popup-content {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    width: 660px !important;

}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    color: rgba(78, 71, 61, 1);
    background-image: url(../img/document.PNG);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: rgba(242, 223, 183); */
}

.leaflet-container a.leaflet-popup-close-button {
    color: rgba(78, 71, 61, 1);
}

.leaflet-popup p {
    font-family: "Josefin Sans";
    font-size: 1.3em;
}

.leaflet-popup h3 {
    font-size: 1.3em;
    font-family: "Josefin Sans";
}



.polaroid {
    background-image: url(../img/photo_background.png);
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    position: relative;
    width: 570px;
    right: 20px;
    transform: rotate(-5deg);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.polaroid img {
    filter: sepia(25%);
}

.polaroid2 {
    background-image: url(../img/photo_background.png);
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    position: relative;
    width: 570px;
    left: 50px;
    top: 9px;
    transform: rotate(5deg);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.polaroid2 img {
    filter: sepia(25%);
}

.paperclip {
    box-sizing: border-box;
    display: block;
    top: 38%;
    left: 13px;
    /* right: 50%; */
    /* margin-top: -40px; */
    margin-left: -19px;
    height: 60px;
    width: 18px;
    border: 3px groove #DDDDDD;
    border-radius: 0 0 90px 90px;
    border-top: none;
    position: absolute;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -webkit-backface-visibility: hidden;
}

.paperclip::after {
    content: '';
    position: absolute;
    border: 3px groove #DDDDDD;
}

.paperclip::after {
    top: -15px;
    left: -3px;
    height: 15px;
    width: 16px;
    border-radius: 90px 90px 0 0;
    border-bottom: none;
}

.paperclip2 {
    box-sizing: border-box;
    display: block;
    top: 27%;
    left: 13px;
    /* right: 50%; */
    /* margin-top: -40px; */
    margin-left: -19px;
    height: 60px;
    width: 18px;
    border: 3px groove #DDDDDD;
    border-radius: 0 0 90px 90px;
    border-top: none;
    position: absolute;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -webkit-backface-visibility: hidden;
}

.paperclip2::after {
    content: '';
    position: absolute;
    border: 3px groove #DDDDDD;
}

.paperclip2::after {
    top: -15px;
    left: -3px;
    height: 15px;
    width: 16px;
    border-radius: 90px 90px 0 0;
    border-bottom: none;
}

.paperclip3 {
    box-sizing: border-box;
    display: block;
    top: 36%;
    left: 650px;
    /* right: 50%; */
    /* margin-top: -40px; */
    margin-left: -19px;
    height: 60px;
    width: 18px;
    border: 3px groove #DDDDDD;
    border-radius: 0 0 90px 90px;
    border-top: none;
    position: absolute;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -webkit-backface-visibility: hidden;
}

.paperclip3::after {
    content: '';
    position: absolute;
    border: 3px groove #DDDDDD;
}

.paperclip3::after {
    top: -15px;
    left: -3px;
    height: 15px;
    width: 16px;
    border-radius: 90px 90px 0 0;
    border-bottom: none;
}

h1 {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #000000;
    font-size: 1.9em;
    font-family: "Josefin Sans";
}

h4 {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #000000;
    font-size: 1em;
    font-family: "Josefin Sans";
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.fade {
    position: relative;
    width: 100%;
    min-height: 30vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 10001;
}

.crawl-text {
    display: flex;
    justify-content: center;
    position: relative;
    top: 75vh;
    height: 800px;
    color: white;
    text-shadow: 2px 2px #000000;
    font-family: "Josefin Sans";
    font-size: 300%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
    z-index: 10000;

}

.crawl {
    position: relative;
    top: 100px;
    transform-origin: 50% 100%;
    animation: crawl 50s linear;
    width: 65%;
}

@keyframes crawl {
    0% {
        top: -100px;
    }

    100% {
        top: -3100px;
    }
}


#title {
    text-align: center;
    opacity: 0;
}

.title {
    text-align: center;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #D3D3D3;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #A9A9A9;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #D3D3D3;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: gray;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #A9A9A9;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #D3D3D3;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #D3D3D3;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #D3D3D3;
}

input[type=range]:focus::-ms-fill-upper {
    background: #D3D3D3;
}

/* navbar css */
* {
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}

body {
    font-family: "Josefin Sans";
}

.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #000000 0%, #6B8E23 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    z-index: 1000;
}

.main-nav {
    list-style-type: none;
    display: none;
    z-index: 1000 !important;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
    color: white;
    z-index: 1000 !important;
}

@media screen and (min-width: 359px) {
    .navbar h1 {
        font-weight: bold;
        color: white;
        padding-top: 5px;
        text-shadow: 2px 2px #000000;
        font-size: 1.0em;
        font-family: "Josefin Sans";
    }

    .navbar h4 {
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px #000000;
        font-size: 0.4em;
        font-family: "Josefin Sans";
    }
}

@media screen and (min-width: 900px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        z-index: 1000 !important;

    }

    .navbar h1 {
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px #000000;
        font-size: 1.9em;
        font-family: "Josefin Sans";
    }

    .navbar h4 {
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px #000000;
        font-size: 1em;
        font-family: "Josefin Sans";
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        z-index: 1000 !important;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

/* css for modal */
.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 75%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-image: url(../img/document.PNG);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgba(78, 71, 61, 1);
    font-family: "Josefin Sans";
    font-size: 1em;
}

.close-btn {
    float: right;
    color: rgba(78, 71, 61, 1);
    font-size: 35px;
    font-weight: bold;
}

.close-btn:hover {
    color: lightgray;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* css for unit list */
.wrapper {
    display: flex;
}

.left {
    flex: 0 0 50%;
    display: inline-block;
}

.right {
    flex: 1;
    display: inline-block;
}

.leftInner {
    flex: 0 0 60%;
    display: inline-block;
}

.rightInner {
    flex: 1;
    display: inline-block;
}

/* CSS for unit list header */
.unitHeader {
    padding-top: 4px; 
    padding-bottom: 4px; 
    padding-right: 1%; 
    padding-left: 1%;
}

hr {
    border-top: 1px solid rgba(78, 71, 61, 1);
}
